---
import "../styles/global.css";
import App from "../lib/components/App.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Capsem</title>
  </head>
  <body>
    <App client:only="svelte" />
  </body>
</html>
